<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-pervier</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="map"></div>

    <form id="search-form">
        <input type="text" id="adresse-generale" class="search-addr" placeholder="Entrez une adresse">
        <button type="submit">Chercher</button>
    </form>

    <div id="panel_control">
        <div id="button-container">
            <button id="basic-btn" class="menu-button" disabled>Basic</button>
            <button id="advanced-btn" class="menu-button">Advanced</button>
        </div>

        <!-- Menus -->
        <form class="menu">
            <h2 class="form-title">Informations</h2>
            
            <div class="form-group">
                <label for="adresse" class="form-label">Adresse* :</label>
                <input type="text" id="adresse" class="form-input" name="adresse" placeholder="Entrez l'adresse" required>
            </div>
    
            <div class="form-group">
                <label for="temps_fuite" class="form-label">Temps de fuite (hh:mm)* :</label>
                <input type="time" id="temps_fuite" class="form-input" name="temps_fuite" required>
            </div>

            <div class="form-group strat-menu advanced-menu">
                <label for="date_fuite" class="form-label">Fenêtre d'étude* :</label>
                <input type="time" id="dt" class="form-input" name="dt" required>
            </div>
    
            <div class="form-group">
                <label for="direction_fuite" class="form-label">Direction de fuite* :</label>
                <select name="direction_fuite" id="direction_fuite" class="form-input">
                    <option value="None" disabled selected>Sélectionnez une direction de fuite</option>
                    <option value="None">pas de direction de fuite</option>
                    <option value="N">Nord</option>
                    <option value="NE">Nord-Est</option>
                    <option value="NO">Nord-Ouest</option>
                    <option value="SE">Sud-Est</option>
                    <option value="SO">Sud-Ouest</option>
                    <option value="S">Sud</option>
                    <option value="E">Est</option>
                    <option value="O">Ouest</option>
                </select>
            </div>

            <h2 class="form-title">Stratégie</h2>
            
            <div class="form-group strat-menu active-menu basic-menu advanced-menu" id="basic-strat">
                {{ strategie_basic | safe }}
            </div>

            <!-- <div class="form-group strat-menu advanced-menu" id="advanced-strat">
                {{ strategie_advanced | safe }}
                <div class="form-group">
                    <label class="form-label">Nom de la stratégie :</label>
                    <input type="text" id="strat-nom" class="form-input" name="strat-nom" placeholder="Entrez le nom de stratégie">
                </div>
                <div id="global-strat-control">
                    <button class="strat-ctrl">Charger</button>
                    <button class="strat-ctrl">Enregistrer</button>
                    <button class="strat-ctrl">Réinitialiser</button>
                </div>
            </div> -->

            <div class="form-group">
                <label for="pts_num" class="form-label">Nombre de points* :</label>
                <input type="number" id="pts_num" class="form-input" name="pts_num" placeholder="6" required>
            </div>

            <h2 class="form-title">Style</h2>

            <div class="form-group">
                <label for="dot_color" class="form-label">Couleur des points :</label>
                <input type="color" id="dot_color" class="form-input" name="dot_color" value="#FF0000" required>
            </div>
            <div class="form-group checkbox-group strat-menu advanced-menu">
                <label for="isochrone" class="form-label checkbox-label">Afficher l'isochrone ? :</label>
                <input type="checkbox" id="isochrone" class="form-input checkbox-input" name="isochrone" data-toggle="iso-color-group">
            </div>

            <div class="form-group" id="iso-color-group">
                <label for="dot_color" class="form-label">Couleur de l'isochrone :</label>
                <input type="color" id="iso_color" class="form-input" name="iso_color" value="#0000FF">
            </div>
            <p>* : champs obligatoires</p>
        </form>

        <div id="lancer">
            <button id="rst-btn" class="menu-button ctrl-button">REINITIALISER</button>
            <button id="go-btn" class="menu-button ctrl-button">GO</button>
        </div>
    </div>

    <div id="response-popup"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
